<form [formGroup]="resetPasswordForm" class="col s12 white">

  
  <h4>Reset Password </h4>
  <h5>Please enter the details below to reset the password</h5>
 
<!--New Password and Confirm Newpassword-->

<div class="row">
  <div class="input-field col s5">
    <div class="form-group">
      <label for="newPassword" style="margin:10px">Password</label>
      <input type="password" id="newPassword" [class.is-invalid]="newPassword.invalid && newPassword.touched" formControlName="newPassword" class="formControl" (change)="resetPswdMsg()"/>
      <div *ngIf="newPassword.invalid && newPassword.touched">
      <small class ="text-danger"  *ngIf="newPassword.hasError('required')">Password is required</small>
      <small class ="text-danger"  *ngIf="newPassword.errors?.pattern">Password must be between 4 to 8 characters and include one numeric digit</small>
      
    </div>
    <small class="text-danger" *ngIf="(!newPassword.hasError('required') && !newPassword.hasError('pattern')) && resetPswdVal">Try with new one</small>
        
    </div>
  </div>

  <div class="input-field col s5">
    <div class="form-group">
    <label for="confirmNewPassword">Re-enter Password</label>
     <input [type]="hide ?'password':'text'" id="confirmNewPassword" [class.is-invalid]="resetPasswordForm.hasError('misMatch')" formControlName="confirmNewPassword" class="formControl"/>
     <i class="material-icons postfix" (click)="hide=!hide">
      {{hide ?'visibility':'visibility_off'}}
     </i>
     <small class="text-danger" *ngIf="resetPasswordForm.hasError('misMatch')">Passwords do not match</small>
    </div>
  </div>
</div>


<!--Reset Button-->
<div class="row">
    <div class ="input-field col s12">
        <button [disabled]="!resetPasswordForm.valid" id="btn" class="btn btn-primary" type="submit" (click)="showSuccess()">Reset Password</button> 
        <button class="btn btn-link" type="submit">
          <a routerLink="/forgot-password" routerLinkActive="active">Cancel</a></button>
       <!--<a href="/forgot-password" id="cancel" >Cancel</a>-->
     </div> 
</div>

</form>

