h4{
    font-family: 'Times New Roman', Times, serif;
    margin-left:10px;
    font-size:30px;
}
h5{
    margin:10px;
    font-size:15px;
    
}
label{
    font-size:20px;
    margin-top:-30px;
}


/*Input field line Movement*/
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    /*margin: 10px;*/
    height:2rem
}

button.btn.btn-primary{
    background-color: #039be5;
    margin:10px;
    left: initial;
    width:30%;
    /*margin-bottom: -10px;*/
    }

/*Buttons movement*/
.row .col.s12 {
    margin-left: 100px;
    /*margin-top:-5px;*/
}   

/*Error message  movement*/
small.text-danger{
    padding-left:15px;
}

/*Space between the input fields*/
div.card-content.white{
    min-height: 465px;
    max-height: 465px;
}
div.form-group{
    min-height: 50px;
    max-height: 50px;
}

/*Cancel Button*/
button.btn.btn-link{
    background-color:#ef5350;
    margin:30px;
    width:30%;
    
}

button.btn.btn-link a {
    color: #ffffff;
}



/*Card Movement*/
.white{
    width: 50%;
    margin-left: 22rem;
    margin-top: 60px;
    
}
#newPassword{
    margin-left:10px;
}







