h3{
    font-family: 'Times New Roman', Times, serif;
    margin:10px;
    font-size:30px;
    
}
h5{
    margin:10px; 
    font-size:20px; 
}
label{
    margin:10px; 
    font-size:20px;
    
}

button.btn.btn-primary{
    background-color: #039be5;
    margin:10px;
    
}

/*a.btn.btn-link{
    background-color:#ef5350;
    margin:20px;
}*/

button.btn.btn-link{
    background-color:#ef5350;
    margin:20px;
}

button.btn.btn-link a {
    color: #ffffff;
}

button.btn.btn-secondary{
    background-color:#4db6ac;
    margin:10px;
}

button.btn.btn-secondary a {
    color: #ffffff;
}



p{
    margin:10px;
}

/*Space for line from corner to input field line*/
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    margin: 10px;
    height:2rem
}

/*Buttons move to top*/
.row .col.s12 {
    margin-top: -40px;
}

/*Card Movement*/
.white{
    width: 60%;
    margin-left: 18rem;
    margin-top: 60px;
    
}

/*Error message  movement*/
small.text-danger{
    margin: 10px;
}


 