<form [formGroup]="forgotPasswordForm"   class="col s12 white">

    <h3 class="card-title">Forgot Password</h3>
    <h5>Enter the valid email address you used to create the account.</h5>
      
  <div class="row">
        <div class="input-field col s4">
          <div class="form-group">
            <label for="icon_email">Email</label>
            <input type="email" id="icon_email" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="formControl" (change)="showMsg()"/>
            <div *ngIf="email.invalid && email.touched">
              <small class ="text-danger" *ngIf="email.hasError('required')">Email is required</small>
              <small class ="text-danger" *ngIf="email.hasError('email')">Email is invalid</small>
             </div>
              <small class="text-danger" *ngIf="(!email.hasError('required') && !email.hasError('email')) && emailVal">Please register your email</small>
            
             </div>
       </div>
       </div>

       <div class="row">
        <div class ="input-field col s12">
            <button [disabled]="!forgotPasswordForm.valid" id="btn" class="btn btn-primary" type="submit" (click)=showSuccess()>Submit</button>
            <button class="btn btn-link" type="submit">
              <a routerLink="/login" routerLinkActive="active">Cancel</a></button> 
    


        <div class="row" *ngIf="emailVerify">
          <div class="input-field col s4">
             <div class="form-group">
              <label for="otp">Check your email for OTP</label>
                <input type="number" id="otp" min="0" max="9" placeholder="One Time Password"  [class.is-invalid]="otpVal" formControlName="otp" class="formControl" (change)="otpMsg()"/>
                <small class ="text-danger" *ngIf="otpVal">OTP is invalid</small>
                <a href=" " id="resendOtp"  *ngIf="otpVal">Resend OTP</a>
                <p>OTP should be : 1234</p>
                <!--<button class="btn btn-secondary" *ngIf="otpVal">Resend OTP</button>-->
                <button class="btn btn-secondary" *ngIf="otpVal== false" type="submit">
                  <a routerLink="/reset-password" routerLinkActive="active">Continue</a></button>
        
              </div>
            </div>
          </div>
          
                                
        </div> 
    </div>
    
    

  </form>
