<app-header></app-header>
<div class="content">
<label id="heading">Welcome to the Application</label>

<div class="picture">

  <div class ="icon">
   <a href="/create-report">
    <img alt="createReport" src="/assets/images/createreport.jpg"
    width="100" height="100" title="createReport">
  </a>
  </div>

<div class ="row">
  <img alt="Report1" src="/assets/images/report1.jpg"
  width="100" height="100" title="Report1" >
  </div>

<div class ="row">
  <img alt="Report2" src="/assets/images/report2.jpg"
  width="100" height="100" title="Report2">
</div>

<div class ="row">
  <img alt="Report3" src="/assets/images/report3.jpg"
  width="100" height="100" title="Report3">
</div>



</div>
</div>
