<app-header></app-header>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="left">
         <h4>User Account</h4>
         
    </div>
    <div class="right">
        <div class="info">
            <h3>Profile</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Name</h4>
                    <p>Divya</p>
                 
                    <h4>Email</h4>
                    <p>divya123@gmail.com</p>

                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                   <p>9874563210</p>
                  </div>
            </div>
        </div>
      
      
<div class=row>
      <button class="btn btn-primary" type="submit">
        <a routerLink="" routerLinkActive="active">Change Password</a></button> 

        <button class="btn btn-link" type="submit">
            <a routerLink="/home" routerLinkActive="active">Cancel</a></button> 
            
    </div>

        


    </div>
</div>
